DATABASE_URL=postgresql://user:password@localhost:5432/dbname
REDIS_URL=redis://localhost:6379/0
SECRET_KEY=secret_key
GITHUB_ID=github_id
GITHUB_WEBHOOK_SECRET=github_webhook_secret
GITHUB_PRIVATE_KEY=github_private_key
ENVIRONMENT=local
APP_NAME=app_name
VERSION=1.0.0
POSTGRES_USER=yourusername
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=yourdatabase
REIDS_PASS=yourreddispass